# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.*
*.env
env.txt
src/navigation/env.txt

# typescript
*.tsbuildinfo

# Firebase Service Account
config/service-account/service-account-key.json
service-account-key.json

# Sensitive config files
google-services.json
firebase.json
